<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suhemi.gurungaji">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/proofil"
        android:label="Fighter Relawan"
        android:roundIcon="@drawable/logopemadam"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BantuanActivity"></activity>
        <activity android:name=".TentangActivity" />
        <activity android:name=".GaleriActivity" />
        <activity android:name=".PanduanActivity" />
        <activity android:name=".WebPringsewuActivity" />
        <activity android:name=".WebmetroActivity" />
        <activity android:name=".WebActivity" />
        <activity android:name=".TelvonActivity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".TampilanAwalActivity" />
        <activity android:name=".LupaPasswordActivity" />
        <activity android:name=".FormulirDaftarActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PengaturanActivity" />
        <activity android:name=".PencarianActivity" />
        <activity android:name=".GuruActivity" />
        <activity android:name=".JadwalActivity" />
        <activity android:name=".CobaActivity" />
        <activity android:name=".TilawahActivity" />
        <activity android:name=".BiodataActivity" />
        <activity android:name=".TampilProfileActivity" />
        <activity android:name=".LihatProfileActivity" />
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".UpdatePasswordActivity" />
        <activity android:name=".TampilJAdwalActivity" />
    </application>

</manifest>